.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    display: contents;
}

.sidebar {
    display: contents;
}

.top-row {
    order: 1;
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: center;
    height: 3.5rem;
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

    .top-row ::deep a {
        white-space: nowrap;
        margin-left: 0;
        text-decoration: none;
    }

@media (hover: hover) {
    .top-row ::deep a:hover {
        text-decoration: underline;
    }
}

article {
    display: flex;
    flex-direction: column;
    min-width: 0;
    overflow-x: hidden;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    main {
        display: block;
        flex: 1;
        min-width: 0;
        margin-left: 250px;
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        width: 250px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 100;
        overflow: hidden;
        background-image: linear-gradient(180deg, rgb(120, 170, 230) 0%, #3a0647 70%);
    }

    .top-row {
        order: initial;
        justify-content: flex-end;
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row ::deep a {
            margin-left: 1.5rem;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    article {
        height: calc(100vh - 3.5rem);
    }
}

#blazor-error-ui {
    color-scheme: light only;
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
